# File Type Exclusions
*.prf
*.ese
*.sct
*.rwy
*.pdf

# Folder Exclusions
FCCC/*
Alias/*
NavData/*
ICAO/*
Sounds/*

# File Exclusions
*aeronav_copyright.txt
*VoiceChannels.txt
*SectorFileProviderDescriptor.txt
*euroscope_sector_providers.txt
